* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #235b63;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    
    .card-one {
        padding: 40px;
        background-color: #181818;
        width: 100%;
        color: #6d6d6d;
        
        .profile {
            display: inline-flex;
            margin-bottom: 5px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid #181818;
            background-image: url("Sylvia-i.jpg");
            background-position: left top;
            background-size: 90%;
        }
    
        h2 {
            color: #e8c289;  
            margin-top: 70px;
            margin-bottom: 20px;
            font-size: 1.3rem;
        }

        .contact-box {
            >* {
                width: 100%;
                display: grid;
                grid-template-columns: 0.2fr 1.3fr;
                align-items: center;
                gap: 16px;

                .text {
                    display: inline-flex;
                    word-break: break-all;
                    font-size: 0.95em;
                }

                a {
                    text-decoration: none;
                    color: #6d6d6d;
                }
                
                a:hover {
                    color: #e8c289;
                }
            }
        }

        .personal-box, .hobbies-box {

            p {
                margin-left: 10px;
                margin-bottom: 16px;
                font-size: 0.95em;
            }

            em {
                font-size: 0.8em;
            }
        }
    }

    .card-two {
        background-color: #468891;
        padding: 60px 25px;
        width: 100%;
        color: #181818;

        .head-title {
            text-align: center;
            margin-bottom: 30px;
            h1 {
                font-size: 2.8em;
                font-weight: 700;
                letter-spacing: 2.5px;
            }
            h2 {
                color: #fff;
            }
        }
        
        .box {
            display: inline-block;
            padding: 2px 70px 2px 20px;
            margin-left: -30px;
            margin-top: 40px;
            background-color: #e8c289;
            letter-spacing: 2px;
        }
        
        .formation, .xp {
            margin-top: 20px;
            font-size: 0.95rem;

            em {
                font-size: 0.9em;
            }

            ul {
                position: relative;
                margin-top: 10px;
                margin-left: 5px;
    
                li {
                    list-style-type: none;
                    position: relative;
                }

                li::before {
                    content: "";
                    position: absolute;
                    top: 12px;
                    left: -14px;
                    height: 100px;
                    border-left: 2px solid #e8c289;
                }

            }

            ul:first-of-type li::before {
                content: "";
                position: absolute;
                top: 12px;
                left: -14px;
                height: 175px;
                border-left: 2px solid #e8c289;
            }

            ul:last-of-type li::before {
                content: none;
            }

            ul::before {
                content: "";
                position: absolute;
                top: 12px;
                left: -18px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #e8c289;
            }
        }
    
        .technos {
            padding: 20px;
            display: grid;
            grid-template: 1fr 1fr/1fr 1fr 1fr;
            gap: 30px;
            justify-items: center;

            img {
               height: 60px;
            }
        }
    }
}

@media print {
    @page {
        margin: 0;
        size: A4;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}